[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-rest-framework = "*"
Pillow = "*"
django-cors-headers = "*"
ipython = "*"
drf-yasg = "*"
psycopg2-binary = "*"
python-dotenv = "*"
random-username = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
